* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}

.prns {
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    display: flex;
    align-items: end
}

.lesbian {
    background: #D42D00;
    background: linear-gradient(to right, #D42D00 0%, #FF9C57 18%, #FFFFFF 50%, #D261A4 50%, #A30161 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.omni {
    background: #FF9CCD;
    background: linear-gradient(to right, #FF9CCD 0%, #FF52BE 18%, #1F0044 50%, #665EFF 50%, #8DA7FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.transfem {
    background: #73DFFF;
    background: linear-gradient(to right, #73DFFF 0%, #FEE1ED 20%, #FEB5D9 35%, #FF8CBE 50%, #FEB5D9 66%, #FEE1ED 81%, #73DFFF 100%);       
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.trans {
    background: #5ACEFA;
    background: linear-gradient(to right, #5ACEFA 0%, #F5AAB8 25%, #FFFFFF 50%, #F5AAB8 75%, #5ACEFA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left {
    padding-left: 5%;
    float: left;
}

body {
    font-size: 16px;
    background-color: black;
}

footer {
    margin-top: 60px;
}

footer p {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.hr1 {
    border: 1px solid rgba(255, 255, 255, 0.75);
}

.hr2 {
    border: 1px dashed rgba(255, 255, 255, 0.75);
}

.navbar nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 10px;
}

.navbar nav li {
    float: left;
}

.navbar nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
}

.right {
    float: right;
    margin-top: -80px;
}

.content {
    padding: 0px 5%;
}

.socials {
    width: auto;    
    height: 48px;
}

.title {
    font-size: 32px;
    margin-top: 45px;
    padding-bottom: 20px;
}

.title h1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title a {
    text-decoration: none;
}

.main {
    margin-bottom: -15px;
    padding: 40px 0px;
}

.main p {
    margin-top: 22.5px;
}

.main ul {
    margin-top: 15px;
}

.main ul li {
    margin-top: 10px;
    margin-left: 30px;
}

.no-decor {
    text-decoration: none;
}

.title-img {
    border-radius: 50%;
}

.icon {
    width: 30px;
    height: 30px;
    margin-left: -10px;
    margin-right: 20px;
    margin-bottom: -5px;
}

.services ul {
    margin-top: 20px;
    margin-left: 30px;
}

.fed {
    padding-right: 5%;
    margin-top: 0.5%;
    opacity: 50%;
    float: right;
    width: 200px; /* you can use % */
    height: auto;
}